.banners
    .workTime
        p 24/7
        .button
            Работаем каждый день #[br] Круглосуточно
    .car
        img(src="../img/car.png", alt="")
    .carParts
        .button
            | Проверка электроники #[br] от наших партнеров “АКБ7”  БЕСПЛАТНО!