.header_wrapper
    header
        a(href="my_landing.html").logo
            img(src="img/whell.png")
            .logo__number 4
            .logo__url.button RUN.BY
            .logo__discr АВТОШИНЫ ОНЛАЙН
        ul.search__list
            li.crumbs
                a(href="#") Каталог и цены
            li.crumbs.disable
                a(href="#") Статьи и полезная информация
            li
                input(type="search" placeholder="Поиск")#search
                .submit
                    span
        .contactTimeWork
            p Прием заказов по телефону: круглосуточно. #[br] Работаем без выходных!
            ul
                li 
                    a(href="tel:+80296037578")
                        span.phone_icon.velcome 
                        | 029 603-75-78 
                li
                    a(href="tel:+80296037578")
                        span.phone_icon.velcome 
                        | 029 603-75-78 
                li
                    a(href="tel:+80296037578")
                        span.phone_icon.mts 
                        | 029 603-75-78 
                li
                    a(href="skype:nameScype?call")
                        span.phone_icon.skupe 
                        | Skype: nameScype
    