
.navigationWrap
    div
        ul.navigationWrap__navList
            li 
                a(href="#") Полезная информация
            li 
                a(href="#") О магазине
            li 
                a(href="/my_contacts.html") Контакты
            li 
                a(href="#") Доставка
            li 
                a(href="#") Акции
        .button
            a(href="#") 
                span.basket 
                Корзина