include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title page-complect
		include inc/head
	body(class="p-complect")
		include partials/header

		.l-common-wrap
			.l-container
				+b('').bread-crumb
					+e('a')(href='#').item Главная
					+e('a')(href='#').item Комплект люкс
				+b('span').title-big Комплект Люкс
				+b('').between-price-wrap_separator
					+e('').left
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					+e('').right
						+e('').inner-wrap
							+e('').inner-cell
								+b('').table-price
									+e('span').subtitle стоимость комплекта:
									+e('span').item 260.<sup>00</sup>
									+e('span').caption белорусских рублей за м.кв.
							+e('').inner-cell
								+b('a')(href='#').btn-yellow Заказать дом
				+b('section').section-wrap
					table
						tbody
							tr
								th(rowspan='2')
									span 1. Проектировка
								td
									span Разработка архитектурного решения
							tr
								td
									span Конструктивное решение по технологии Mitek
					table
						tbody
							tr
								th(rowspan='6')
									span 2. Перекрытия и черновой настил
								td(rowspan='3')
									span Монтаж перекрытия первого этажа:
								td
									span Балки перекрытия и комплект поясных ферм из строганной древесин

							tr
								td
									span Утеплитель на базальтовой основе толщиной 150 мм
							tr
								td
									span Сплошной настил из OSB-3 плиты производства Kronopol толщиной 2
							tr
								td(rowspan='3')
									span Мансардное перекрытие для второго и  третьего этажа:
								td
									span Комплект балок перекрытия из поясных ферм, изготовленных из стр
							tr
								td
									span Утеплитель на базальтовой основе толщиной 100 мм
							tr
								td
									span Сплошной настил из OSB-3 плиты толщиной 22 мм производства Kron
					table
						tbody
							tr
								th(rowspan='7')
									span.text-medium.font-lg 3. Стеновые панели
								td(rowspan='3')
									span Внешние стены:
								td
									span Силовой каркас из строганной древесины технической сушки сечени
							tr
								td
									span Утеплитель на базальтовой основе толщиной 150 мм
							tr
								td
									span Внтренняя плита OSB-3 толщиной 10 мм производства Kronopol
							tr
								td(rowspan='4')
									span Внутренние стены и межкомнатные  перегородки:
								td
									span Каркас из строганной древесины технической сушки сечением 100х5
							tr
								td
									span OSB-3 плита Kronopol толщиной 10 мм по одной стороне несущих ст
							tr
								td
									span Утеплитель на базальтовой основе толщиной 100 мм
							tr
								td
									span OSB-3 плита Kronopol толщиной 10 мм по второй стороне несущих с
					table
						tbody
							tr
								th(rowspan='3')
									span.text-medium.font-lg 1. Проектировка
								td
									span Комплект стропильных ферм из строганной древесины технической с
							tr
								td
									span Утеплитель на базальтовой основе толщиной 150 мм
							tr
								td
									span Контробрешетка из бруска сечением 50х50 и частичная обрешетка и

				+b('').between-price-wrap
					+e('').left_pad-top
						+b('span').title-big Комплект люкс
					+e('').right
						+e('').inner-wrap
							+e('').inner-cell
								+b('').table-price
									+e('span').subtitle стоимость комплекта:
									+e('span').item 260.<sup>00</sup>
									+e('span').caption белорусских рублей за м.кв.
							+e('').inner-cell
								+b('a')(href='#').btn-yellow Заказать дом
				+b('section').text-section_pad-top-lg
					+e('').left_sm
						+b('span').title-1.no-margin Другие комплекты
					+e('').right
						+b('').complects-cols
							+e('').cols-wrap
								- for(var i = 0; i < 3; i++)
									+e('').col
										+b('a')(href='#' style='background-image: url(http://placehold.it/162x356)').complect-item
											+e('').top
												+e('').top-l
													+e('p').subtitle Комплект
													+e('span').title Стандарт
												+e('').top-r
													+e('span').price 140 руб./м.кв.
											+b('ul').complect-list
												li Перекрытия и черновой настил
												li Стеновые панели
												li Кровельная система								





		include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")