include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title Сертификаты
		include inc/head
	body(class="p-reviews")
		include partials/header
		.l-common-wrap
			.l-container
				+b('').bread-crumb
					+e('a')(href='#').item Главная
					+e('a')(href='#').item О компании
					+e('a')(href='#').item Сертификаты
				+b('').box-title
					+e('').left
						.b-title-1.no-margin Сертификаты
					+e('').right
						+b('a').btn-yellow Написать отзыв
				+b('').reviews
					+e('').item-row
						+e('').left
							+e('').name Дмитрий Анатольевич
							+e('').date 14.02.2017
						+e('').right
							+e('span').text
								p Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
								p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
					+e('').item-row
						+e('').left
							+e('').name Дмитрий Анатольевич
							+e('').date 14.02.2017
						+e('').right
							+e('span').text
								p Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает.
								p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного
					+e('').item-row
						+e('').left
							+e('').name Дмитрий Анатольевич
							+e('').date 14.02.2017
						+e('').right
							+e('span').text
								p Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
								p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
				+b('').send-review
					+e('').green-wrapper
						+e('').table
							+e('').left
								+e('span').title Оставьте отзыв
								+e('span').text о нашей работе
							+e('').right
								+e('').table
									+e('').cell
										+b('input')(type='text' name='name' tabindex='1' id='name' placeholder='Ваше имя' required).input
									+e('').cell
										+b('input')(type='text' name='email' tabindex='2' id='email' placeholder='E-mail(необязательно)').input
								+e('').row
									+b('textarea')(name='message' tabindex='3' placeholder='Текст сообщения' required).input_text-area
						+b('input')(type='submit' value='Отправить отзыв').btn-yellow



		include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")
