+b('footer').footer
	.l-container
		+b('').table-wrap
			+e('').item_logo
				+b('img')(src='img/logo-footer.png').logo
			+e('').item
				+e('').right
					+b('span').text.more-information Для получения дополнительной информации или совершения заказа звоните по телефонам:<br> Гор: +375 (17) 346-23-98; Моб.: +375 (29) 674-674-9.
				+e('').left
					+b('').copyright
						+b('span').text © 2006-2017  СООО «Каркасные строительные технологии»
						br
						+e('a')(href='#').link www.belhouse.by
				
			+e('').item_swd
				+b('span').swd
					+b('span').text Powered by
					+e('img')(src='img/swd.png').logo