// @import 'mixins.styl'
// @import 'fonts.styl'
// @import 'sprite/sprite.styl'
// @import 'base.styl'
// @import 'blocks.styl'
@import 'my_stylus/my_mixin.styl'
@import 'my_stylus/base_stylus.styl'
@import 'my_stylus/navigation.styl'
@import 'my_stylus/ordersAndAction.styl'
@import 'my_stylus/my_header.styl'
@import 'my_stylus/catalog.styl'
@import 'my_stylus/banners.styl'
@import 'my_stylus/tire_selection.styl'
