// @font-face
// 	font-family 'Open Sans'
// 	src url(../fonts/OpenSans-Regular.woff) format("woff")
// 	font-weight 400

// @font-face
// 	font-family 'fontello'
// 	src url('../fonts/fontello.eot')
// 	src url('../fonts/fontello.eot#iefix') format('embedded-opentype')
// 		url('../fonts/fontello.woff') format('woff')
// 		url('../fonts/fontello.ttf') format('truetype')
// 		url('../fonts/fontello.svg#fontello') format('svg')
// 	font-weight normal
// 	font-style normal
@font-face {
    font-family "PFDinDisplayPro"
    src url("../fonts/pfdindisplaypro-reg.woff") format("woff")
    font-style normal
    font-weight 400
}
@font-face {
    font-family "PFDinDisplayPro"
    src url("../fonts/pfdindisplaypro-light.woff") format("woff")
    font-style normal
    font-weight 300
}
@font-face {
    font-family "PFDinDisplayPro"
    src url("../fonts/pfdindisplaypro-med.woff") format("woff")
    font-style normal
    font-weight 500
}
@font-face {
    font-family "PFDinDisplayPro"
    src url("../fonts/pfdindisplaypro-bold.woff") format("woff")
    font-style normal
    font-weight 700
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i&subset=cyrillic')