.catalog
    width 199px
    padding-left 9px
    vertical-align top
    h3
        font-size: 18px
        font-family: "Arial"
        font-weight: bold
        margin-bottom 13px
    .arrow
        position absolute
        top 3px
        left -11px
        height 7px
        width 7px
        background url(../img/arrow.png)
    
    .small
        display block
        margin-left 22px
        margin-top 10px
        font-size 14px
        font-family "PTSans"
        li
            margin-bottom 7px


.catalog > li
    margin-left 7px
    margin-bottom 21px
    position relative
        
